<section class="showcase">
  <div class="video-container">
    <video src="../../../assets/video/video.mp4" autoplay muted loop></video>
  </div>
  <div class="content">
    <h1>XtremePuertaPC</h1>
    <h3>Tu tienda favorita de computadoras</h3>
    <a href="#about" class="btn">Ver más</a>
  </div>
</section>

<h1 style="text-align: center;" class="mt-5">Nuestras Computadoras</h1>
<div class="card-deck m-5">
  <div class="card" *ngFor="let item of computadoras">
    <img [src]="item.imagen" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ item.precio | currency: "MXN":"code" }}</h5>
      <ul>
        <li>{{ item.gabinete }}</li>
        <li>{{ item.tarjetaVideo }}</li>
        <li>{{ item.procesador }}</li>
        <li>{{ item.ram }}</li>
        <li>{{ item.fuente }}</li>
      </ul>
    </div>
  </div>
</div>
