h1 {
  font-weight: 300;
  font-size: 60px;
  line-height: 1.2;
  margin: 35px 0px;
  color: white;
  text-align: center;
}

.container-fluid {
  height: 91vh;
  background: rgb(3, 3, 4);
  background: linear-gradient(
    90deg,
    rgba(3, 3, 4, 1) 0%,
    rgba(58, 58, 60, 1) 44%,
    rgba(136, 136, 136, 1) 100%
  );
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding {
  padding-top: 30px;
}
